<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">eCommerce Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                 <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ c.name}}</a>
                </li>
                {% endfor %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/">
                        <img src="{{ current_user.avatar }}" width="35" class="rounded-circle" alt=""/> Chào {{ current_user.username }} !
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/register">Đăng ký</a>
                </li>
                {% endif %}


            </ul>
            <form method="get" action="/" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Tìm kiếm..." name="kw"/>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>